.App {
  background-color: rgb(250, 233, 212);
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}

.search{
  align-items: top;
}

.welcome{
  text-align: center;
}

.signup{
  background-color:beige;
}

.vsc-initialized{
  background-color:  rgb(250, 233, 212) ;
}

.Login{
  height:1000px;
  text-align: center;
  cursor: pointer;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .projectCard{
   cursor: pointer;
} */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .card{
  width: 50%;
  margin: 0 auto;
  text-align: center;
} */

.grid-item {
  float: left;
  width: 350px;
  background:beige;
  height: 120px;
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 20px;
}

.grid{
  padding-left: 50px;
}

.gridProjectCard{
  padding-left: 50px;
}

.grid-item2{
  float: left;
  width: 250px;
  height: 300px;
  border: 0px solid hsla(0, 0%, 0%, 0.5);
  cursor: pointer;
}

.gridUserCard{
  padding-left: 50px;
}

.grid-item3{
  float: left;
  width: 300px;
  height: px;
  border: 0px solid hsla(0, 0%, 0%, 0.5);
  cursor: pointer;
}

.userProject{
  padding-left: 50px ;
  
}

.checkbox{
  padding-left: 20px;
}

.projectTitle{
  padding-left: 300px;
}

